{% extends 'base.html' %}
{% load static %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Dom's Garage</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href="{% url 'index' %}" style="color: #ffc800;">Home</a></li>
                
                <li class="nav-item"><a class="nav-link" href="#contact" style="color: #ffc800;">Contact</a></li>
            </ul>
        </div>
    </div>
  </nav> 

  <style>
    .indexcontainer {
    position: relative;
    width: 100%;
  }
  
  /* Make the image responsive */
    .indexcontainer img {
    width: 100%;
    height: auto;
  }
  </style>
<div class="container" style="margin: auto; width: 50%; padding: 10px; margin-top: 2em;">
  <div class="text-center">
    <h2 class="section-heading text-uppercase">Add Car</h2>
  </div>
<br>
  <form name="form" method="post" action="{% url 'create' %}" style="text-align: center;">
    {% csrf_token %}
    <label for="make">Make:</label>
    <input type="text" name="make" id="make" autofocus>
    <br><br>

    <label for="model">Model:</label>
    <input type="text" name="model" id="model">
    <br><br>

    <label for="year">Year:</label>
    <input type="text" name="year" id="year">
    <br><br>

    <label for="color">Color:</label>
    <input type="text" name="color" id="color">
    <br><br>

    <label for="mileage">Mileage:</label>
    <input type="number" name="mileage" id="mileage">
    <br><br>
    <label for="clean_title">Clean Title</label>
    <input type="radio" name="clean_title" id="clean_title" value="True"><br>
    <label for="salvaged_title">Salvaged Title</label>
    <input type="radio" name="clean_title" id="salvaged_title" value="False">
    <!-- <input type="text" name="clean_title" id="clean_title"> -->
    <br><br>

    <button type="submit">Add</button>
  </form>
</div>
{% endblock %}