{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <div class="text-left">
    <h2 class="section-heading text-uppercase">Customers</h2>
  </div>
  <br>
  <form name="form" method="post" action="{% url 'update' %}">
    {% csrf_token %}
    <input type="hidden" id='car_id' name='car_id' value='{{car.id}}'>

    <label for="make">Make:</label>
    <input type="text" name="make" id="make" value='{{record.make}}' autofocus>
    <br><br>

    <label for="model">Model:</label>
    <input type="text" name="model" id="model" value='{{record.model}}'>
    <br><br>

    <label for="year">Year:</label>
    <input type="text" name="year" id="year" value='{{record.year}}'>
    <br><br>

    <label for="color">Color:</label>
    <input type="text" name="color" id="color" value='{{record.color}}'>
    <br><br>

    <label for="mileage">Mileage:</label>
    <input type="number" name="mileage" id="mileage" value='{{record.mileage}}'>

    <label for="clean_title">Clean title? </label>
    <select name="clean_title" id="clean_title" value='{{record.clean_title}}'>
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <!-- <input type="text" name="clean_title" id="clean_title"> -->
    <br><br>

    <button type="submit">Add</button>
  </form>
</div>
{% endblock %}